.app-wrapper {
    margin: 0 auto;
}

.block-header{
}

.block-content{
    display: grid;
    margin: 0 auto;
    width: 1440px;



}

.app-wrapper-content{
    grid-area: content;
    background-color: white;
    padding-left: 10px;
    border-radius: 10px;
    /*#32127A*/

}
